body {
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sora', sans-serif;
    user-select: none;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
button {
    background-color: #fca311;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 25px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
}

input {
    line-height: 25px;
    margin-bottom: 30px;
    border-radius: 25px;
    border: none;
    width: 90%;
    text-align: center;
    padding: 10px 24px;
    box-shadow: 2px 2px 2px lightgray;
  
}
img {
    border-radius: 50%;
    width: 50%;
    margin: 30px auto;
}


button:hover {
    transform: scale(1.1);
}
#ul-el {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
li {
    list-style-type: none;
    background-color: lightcoral;
    padding: 1rem;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-weight: lighter;
}

li:hover {
    transform: scale(1.1)
}